<div class="container">
  <div class="action-center">
    <select
      class="input select"
      (change)="setAgeGroup($event)"
      [(ngModel)]="ageGroup"
    >
      <option *ngFor="let age of ageRange" [value]="age.value">
        {{ age.name }}
      </option>
    </select>
    <button class="btn reset" (click)="sortDetails('acc')">accending</button>
    <button class="btn add" (click)="sortDetails('dec')">decending</button>
    <button class="btn sub" (click)="resetSorting()">reset</button>
  </div>
  <div class="emp-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let head of tableData[0] | keys" class="table-row">
            {{ getTitle(head) | titlecase }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td *ngFor="let list of item | keys" style="text-align: center">
            {{ item[list] || "NA" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
